In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import difflib
from sklearn.metrics.pairwise import cosine_similarity
import random

In [2]:
df=pd.read_csv("dialogs_expanded.csv")
df=df.iloc[:,1:3]

In [3]:
df.head()

,question,answer
0,"Well, I thought we'd start with pronunciation,...",Not the hacking and gagging and spitting part....
1,Not the hacking and gagging and spitting part....,Okay... then how 'bout we try out some French ...
2,You're asking me out. That's so cute. What's ...,Forget it.
3,"No, no, it's my fault -- we didn't have a prop...",Cameron.
4,"Gosh, if only we could find Kat a boyfriend...",Let me see what I can do.

In [4]:
df.shape

(139409, 2)

In [5]:
df.isna().sum()

question    0
answer      0
dtype: int64

In [6]:
df2=pd.read_csv("input3.csv")
df2=df2["text"]
df2.rename({"text":"question"},inplace=True)

In [7]:
df3=pd.read_csv("target3.csv")
df2=pd.concat([df2,df3["text"]],axis=1)

In [8]:
df2.fillna("")

,text,text
0,Can we make this quick? Roxanne Korrine and A...,"Well, I thought we'd start with pronunciation,..."
1,"Well, I thought we'd start with pronunciation,...",Not the hacking and gagging and spitting part....
2,Not the hacking and gagging and spitting part....,Okay... then how 'bout we try out some French ...
3,You're asking me out. That's so cute. What's ...,Forget it.
4,"No, no, it's my fault -- we didn't have a prop...",Cameron.
...,...,...
221611,"Your orders, Mr Vereker?",I'm to take the Sikali with the main column to...
221612,I'm to take the Sikali with the main column to...,Lord Chelmsford seems to want me to stay back ...
221613,Lord Chelmsford seems to want me to stay back ...,I think Chelmsford wants a good man on the bor...
221614,"Well I assure you, Sir, I have no desire to cr...","And I assure you, you do not In fact I'd be ob..."
221615,"And I assure you, you do not In fact I'd be ob...",So far only their scouts. But we have had repo...

In [9]:
df2.isna().sum()

text    190
text    195
dtype: int64

In [10]:
df2.columns=["question","answer"]

In [11]:
df=pd.concat([df,df2],axis=0)

In [12]:
df.shape
df["sno"]=[x for x in range(len(df))]
df.set_index(["sno"],inplace=True)

In [13]:
df["question"]=df["question"].fillna('')
df["answer"]=df["answer"].fillna('')
df.isna().sum()

question    0
answer      0
dtype: int64

In [14]:
feature_extraction=TfidfVectorizer(max_df=1,lowercase=True,stop_words="english")

In [15]:
question_extracted=feature_extraction.fit_transform(df["question"])
answer_extracted=feature_extraction.fit_transform(df["answer"])

In [16]:
talk=True
endCall=["bye","good bye","see you","nice talking to you"]

In [ ]:
while talk:
    user=input()
    exitSimilar=difflib.get_close_matches(user,endCall)
    if(exitSimilar in endCall):
        talk=False
        print("nice talking to you")
        break;
    similar_text=difflib.get_close_matches(user,df["question"].tolist())
    k=df[df["question"]==similar_text[0]]
    k["i"]=[x for x in range(len(k))]
    listA=random.randint(0,len(k)-1)
    ans=k[k["i"]==listA]["answer"].values[0]
    print(ans)

hi

C:\Users\arjun\AppData\Local\Temp\ipykernel_16220\1017201318.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k["i"]=[x for x in range(len(k))]

George...
bye

C:\Users\arjun\AppData\Local\Temp\ipykernel_16220\1017201318.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  k["i"]=[x for x in range(len(k))]

Was all I had to say